# ~/.ssh/config

Host github
	HostName github.com
	User git
	IdentityFile ~/.ssh/github

Host vps
	HostName zgrep.org
	User zgrep
	IdentityFile ~/.ssh/vps

Host vehk
	HostName zgrep.org
	User vehk
	IdentityFile ~/.ssh/vps
