# ~/.ssh/config

Host github
	HostName github.com
	User git
	IdentityFile ~/.ssh/github

Host vps
	HostName zgrep.org
	User zgrep
	IdentityFile ~/.ssh/vps

Host zvehk
	HostName zgrep.org
	User vehk
	IdentityFile ~/.ssh/vps

Host vehk
    HostName vehk.de
    User zgrep
    Port 2222
    IdentityFile ~/.ssh/vehk

Host gibson
    HostName 192.168.1.200
    User root
    IdentityFile ~/.ssh/gibson

Host lain
    HostName lain.lambdaos.org
    User zgrep
    IdentityFile ~/.ssh/heddwch

Host norttgif
    HostName 104.131.176.93
    User root
    IdentityFile ~/.ssh/drop

Host simplyroot
    HostName 198.211.105.21
    User root
    IdentityFile ~/.ssh/drop
